.text {
  text-align: center;

  &__title {
    &--bold {
      font-weight: 700;
    }

    &--lato {
      font-family: "Lato", sans-serif;
    }

    &--lato + p {
      font-weight: 900;
    }
  }
}