 <section class="coffee">

   <div class="container">

     <h2>Best Gift For Best Friend
       <span>giftset</span>
     </h2>

     <div class="coffee__inner">

       <article>

         <img src="img/coffee.png" width="460" alt="images of coffee box">

         <div class="descr">

           <span>285.000</span>

           <h3>Giftset "Cà phê phin Việt Nam"</h3>

           <p>Món quà tuyệt vời dành cho người sành cà phê. Hạt cà phê được Revo cẩn trọng chọn lựa, rang xay theo công
             nghệ
             và bí quyết học hỏi từ những nghệ nhân nổi tiếng, cùng với tình yêu, sự đam mê của người làm cà phê… tạo ra
             những tách cà phê tinh khiết chỉ dành riêng cho bạn.</p>

           <ul class="descr__list">

             <li class="descr__item">Loại hạt
               <span>Fine Robusta Blend</span>
             </li>

             <li class="descr__item descr__item--mountain">Độ cao
               <span>700 - 800m</span>
             </li>

           </ul>

           <div class="article__btn">

             <button class="btn">MUA NGAY</button>

             <a href="#">CHI TIẾT</a>

           </div>

         </div>

       </article>

       <ul class="tabs">

         <li class="tabs__item tabs__item--active">
           <button>1</button>
         </li>

         <li class="tabs__item">
           <button>2</button>
         </li>

         <li class="tabs__item">
           <button>3</button>
         </li>

       </ul>

     </div>

   </div>

 </section>