// colors
:root {
  --color-black: #151d28;
  --color-tan: #c7a17a;
  --color-ebony: #232c38;
  --color-fiord: #415167;
  --color-mystic: #edf0f5;
  --color-concrete: #f2f2f2;
  --color-white: #fff;
}
